includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
    tmpDir: build/phpstan
    bootstrapFiles:
        - phpstan-bootstrap.php
    checkOctaneCompatibility: true
    checkModelProperties: true
